@import '../bower_components/bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #000;
  margin-top: 50px;
}

.panel-body {
  background-color: #000;
}

.container {
  display: block;
  margin: 0 auto;
  width: 1500px;
}

.logs {
  display: block;
  width: 200px;
}

.tracks {
  width: 1100px;
  overflow: hidden;
  display: block;
  .panel-body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
}

.plots {
  button {
    font-size: 12px;
    margin: 5px 5px 8px 15px;
    padding: 4px;
    width: 100px;
  }
}

.chart {
  margin-bottom: 5px;
  .btn-primary {
    display: block;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 0;
    width: 200px;
  }
  .btn-default {
    height: 50px;
    margin-left: 20px;
    width: 200px;
  }
}

.drop-zone {
  background-color: #000;
  border: 1px dashed #555;
  color: #fff;
  height: 125px;
  padding-top: 50px;
  position: absolute;
  text-align: center;
  width: 127px;
}

.zone-2 {
  left: 299px;
  top: 725px;
}

.zone-3 {
  left: 455px;
  top: 725px;
}

.zone-4 {
  left: 612px;
  top: 725px;
}

.zone-5 {
  left: 770px;
  top: 725px;
}

.zone-6 {
  left: 925px;
  top: 725px;
}

div[dnd-list] .dndPlaceholder {
  color: #000;
  border: 1px dashed #7aabb7;
  height: 103%;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 102%;
}

ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
}

.divider-bar {
  background-color: #337ab7;
  height: 7px;
  left: 15px;
  position: absolute;
  top: 125px;
  width: 97.2%;
  z-index: 100;
}

.right-bar {
  background-color: #337ab7;
  height: 90%;
  left: 1084px;
  position: absolute;
  top: 1px;
  width: 1px;
  z-index: 100;
}